body {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-image: url("/images/mainBackground.png");
}

header {
  background-image: url("/images/backgroundHeader.png");
  display: flex;
  justify-content: space-between;
  padding: 30px 70px 13px 70px;
}

header .date {
  color: #ffffff;
  font-family: "Arial";
}

.menu ul {
  max-width: 760px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
}

.menu ul :hover {
  background-color: #000000;
  color: #1d9ed9;
  cursor: pointer;
  transition: visibility 2s, opacity 0.5s linear;
}

.menu ul li {
  padding: 10px 25px;
}

.mainSite {
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.mainSite .leftSide {
  width: 100%;
  max-width: 520px;
  background-color: #ffffff;
  padding: 40px 20px;
}

.mainSite .leftSide .welcome {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 29px;
  font-weight: bold;
}

.mainSite .leftSide article {
  font-family: "Verdana";
  font-size: 12px;
  line-height: 18px;
  color: #121212;
  margin-top: 25px;
  margin-bottom: 35px;
}

.mainSite .leftSide .meetTitle {
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.mainSite .leftSide .descriptor {
  background-color: black;
  position: absolute;
  width: 473px;
  padding: 0;
  margin-top: 230px;
  height: 40px;
  visibility: hidden;
  opacity: .8;
}

.mainSite .leftSide .descriptor .personalData {
  position: relative;
  color: white;
  padding-left: 18px;
  font-size: 12px;
}

.mainSite .leftSide .descriptor .topData {
  margin-top: 5px;
}

.mainSite .leftSide .carousel {
  display: flex;
  max-width: 473px;
  flex-direction: column;
  border: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mainSite .leftSide .carousel .big:hover + .descriptor {
  visibility: visible;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.mainSite .leftSide .carousel .miniatures {
  background-image: url("/images/carouseleBackground.png");
  display: flex;
  border: 2px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mainSite .leftSide .carousel .miniatures .miniaturesContainer {
  max-width: 384px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.mainSite .leftSide .carousel .miniatures .carouselTrack {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.mainSite .leftSide .carousel .miniatures .carouselTrack .carouselSlide {
  margin: 0 2px;
  height: 60px;
}

.mainSite .leftSide .carousel .miniatures .carouselTrack .carouselSlide .carouselImage {
  object-fit: cover;
}

.mainSite .leftSide .carousel .miniatures .pictureContainer {
  height: 100%;
  z-index: 1;
  background: black;
  opacity: .6;
}

.mainSite .leftSide .carousel .miniatures .activeImg {
  z-index: 1;
}

.mainSite .leftSide .carousel .miniatures .activeImg img {
  box-sizing: border-box;
  object-fit: scale-down;
  height: 60px;
  width: 60px;
  border: 3px solid #1d9ed9;
}

.mainSite .leftSide .carousel .miniatures .arrow {
  margin: 0 14px;
  z-index: 1;
}

.mainSite .leftSide .carousel .miniatures button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.mainSite .leftSide .carousel .miniatures .isHidden {
  visibility: hidden;
}

.mainSite .rightSide {
  background-color: #f2f2f2;
  width: 100%;
  padding-left: 20px;
  padding-top: 100px;
}

.mainSite .rightSide .rightTitle {
  text-transform: uppercase;
  color: #1d9ed9;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border-top: 3px solid #1d9ed9;
  width: 150px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.mainSite .rightSide p {
  color: #1d9ed9;
}

footer {
  background: #000000;
}

footer ul {
  display: flex;
  justify-content: space-between;
  max-width: 760px;
  margin: 0 auto;
  list-style-type: none;
  color: #ffffff;
  background: #000000;
  padding: 10px;
}

footer ul :hover {
  color: #1d9ed9;
  cursor: pointer;
}

footer ul li::first-letter {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */