// variables
$menuElementsColor: #ffffff;
$contentkElementsColor: #000000;
$footerBackgroundColor: #000000;
$menuHooverColor: #000000;
$activeMenuColor: #1d9ed9;
$sideMenuColor: #1d9ed9;
$fontMenu: "Proxima Nova";

// page style
.container {
    max-width: 1024px;
    margin: 0 auto;
    background-image: url("/images/backgroundHeader.png");
}

// header style
header {
    background-image: url("/images/backgroundHeader.png");
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 13px 70px;

    .date {
        color: $menuElementsColor;
        // font-size: 12px;
        line-height: 24px;
        font-family: "Arial";
        // font-weight: bold;
    }
}

// menu
.menu ul {
    max-width: 760px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: $menuElementsColor;
    text-transform: uppercase;
    padding: 0;

    :hover {
        background-color: $menuHooverColor;
        color: $activeMenuColor;
        cursor: pointer;
    }

    li {
        padding: 10px 25px;
    }
}

// main content
.mainSite {
    max-width: 760px;
    margin: 0 auto;

    
}

// footer
footer {
    background: $footerBackgroundColor;
}

footer ul {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    margin: 0 auto;
    list-style-type: none;
    color: $menuElementsColor;
    background: $footerBackgroundColor;
    
    li::first-letter {
        text-transform: uppercase;
    }
}
