// page style
.container {
    width: 1024px;
    margin: 0 auto;
}

// header style
header {
    background-image: url('/images/backgroundHeader.png');
    display: flex;
    
    .date {
        
    }
}
