// page style
.container {
    width: 1024px;
    margin: 0 auto;
}

// header style
header {
    background-image: url('/images/backgroundHeader.png');
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 13px 70px;

    .date {
        color: #ffffff;
        // font-size: 12px;
        // line-height: 24px;
        font-family: "Arial";
        // font-weight: bold;
    }
}
